footer {
    display: flex;
    gap: 24px;
    padding: 24px;
    font: 14px/150% var(--font-family);
}

footer span:nth-child(1) {
    margin-right: auto;
}

@media (width <= 40em) {
    footer {
        flex-wrap: wrap;
        text-align: center;
    }

    footer > span:first-child {
        width: 100%;
    }

    footer > span {
        margin: auto;
    }
}
