header {
    padding-block: 2rem;
    font: var(--text-md);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}

#profile > div {
    max-width: 24rem;
}

#profile img {
    width: 11rem;
    height: 11rem;
    object-fit: cover;
    border-radius: 50%;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 0.5rem;
}

#info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 17.5rem;
}

#info li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (width <= 40em) {
    header {
        padding-block: 1rem;
    }

    #info {
        width: 400px;
        margin-inline: auto;
        margin-top: 2rem;
        align-self: start;
    }
}
