main {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-block: 1.5rem;
}

main img {
    width: 17.875rem;
    height: 17.875rem;
    object-fit: cover;
    margin: auto;
}

@media (width <= 40em) {
    main {
        padding-inline: 0 !important;
    }
}
