nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    padding-block: 1.25;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-block: 0.5rem;
}

nav ul li:last-child img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 50%;
}
